.container {
	height: 93px;
	max-width: 1440px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 60px;

	.logo {
		user-select: none;
		width: 141px;
		height: 93px;
		background-image: url(../../public/logo.png);
	}

	.links {
		width: 236px;
		display: flex;
		justify-content: space-between;

		.link {
			text-decoration: none;
			color: #000000;
			font-size: 14px;
			font-family: 'inter';

			&:hover {
				color: #ffb64f;
			}
		}
	}

	.limitAndAuthorized {
		position: relative;
		display: flex;
		justify-content: space-between;
		align-items: center;

		.burgerBtn {
			display: none !important;
			padding: 12px 10px;
			height: 50px;
			min-width: 0 !important;
			width: 50px;

			.burger {
				width: 30px;
				height: 25px;
				background-image: url(../../public/burgerMenu.svg);
				background-repeat: no-repeat;
				background-position: center center;
				background-size: 30px 25px;
			}
		}

		.limit {
			position: absolute;
			right: 200px;
			width: 175px;
			height: 63px;
			background-color: #d9d9d9;
			border-radius: 5px;
			font-size: 10px;
			font-weight: 400;
			color: #00000083;

			.lineOne {
				margin: 14px 0 7px 10px;

				span {
					font-size: 14px;
					font-weight: 700;
					color: #000000;
				}
			}

			.lineTwo {
				margin: 0 0 0 27px;

				span {
					font-size: 14px;
					font-weight: 700;
					color: #8ac540;
				}
			}

			.loaderContainer {
				position: relative;

				.loader {
					position: absolute;
					top: 15px;
					left: 73px;
					color: #029491;
				}
			}
		}

		.authorizedUser {
			display: flex;

			.nameAndBtn {
				text-align: end;

				.name {
					margin: 0;
					font-weight: 400;
				}

				.exitBtn {
					justify-content: end;
					width: 31px;
					color: #0000007c;
					font-family: 'inter';
					font-size: 10px;
					font-weight: 400;
					padding: 0;

					&:hover {
						color: #ffb64f;
					}
				}
			}

			.avatar {
				margin-left: 5px;
				background-image: url(../../public/pickles.png);
				background-size: cover;
				background-position: center;
				background-repeat: no-repeat;
				border-radius: 50%;
				width: 32px;
				height: 32px;
			}
		}
	}

	.authorization {
		width: 251px;
		display: flex;
		justify-content: space-between;
		align-items: center;

		.btnRegister {
			font-size: 14px;
			color: #0000007a;
			font-family: 'inter';
			font-weight: 400;

			&:hover {
				color: #ffb64f;
			}
		}

		.stick {
			height: 26px;
			border: 1px solid #029491;
		}

		.btnAuthorize {
			cursor: pointer;
			width: 65px;
			height: 26px;
			font-size: 14px;
			background-color: #7ce3e1;
			border: none;
			border-radius: 5px;
			font-family: 'inter';
			font-weight: 500;
			color: #000000;

			&:hover {
				background-color: #ffb64f;
			}
		}

		.burgerBtn {
			display: none !important;
			padding: 12px 10px;
			height: 50px;
			min-width: 0 !important;
			width: 50px;

			.burger {
				width: 30px;
				height: 25px;
				background-image: url(../../public/burgerMenu.svg);
				background-repeat: no-repeat;
				background-position: center center;
				background-size: 30px 25px;
			}
		}
	}
}

.notification {
	color: #029491;
	font-weight: 600;
	font-size: 18px;
}

.mobileMenu {
	max-width: 1440px;
	height: 491px;
	background-color: #029491;

	.logoAndClose {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 0 20px 0 14px;

		.mobLogo {
			width: 111px;
			height: 90px;
			background-image: url(../../public/smallWhiteLogo.png);
		}

		.btnClose {
			min-width: 0 !important;
			width: 45px !important;
			height: 50px;
			font-size: 24px;
			font-weight: 900;
			padding: 0;
			color: #ffffff;
		}
	}

	.menuLinks {
		margin: 46px auto 75px;
		width: 65px;
		height: 109px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;

		.menuLink {
			text-decoration: none;
			color: #ffffff;
			font-size: 16px;
			font-weight: 400;

			&:hover {
				color: #ffb64f;
			}
		}
	}

	.mobBtnContainer {
		display: flex;
		flex-direction: column;
		width: fit-content;
		margin: 0 auto;
		gap: 15px;

		.mobReg {
			padding: 0;
			font-size: 16px;
			color: #ffffff;
			font-family: 'inter';
			font-weight: 400;

			&:hover {
				color: #ffb64f;
			}
		}

		.mobAuthorize {
			padding: 0;
			width: 295px;
			height: 52px;
			background-color: #7ce3e1;
			color: #000000;
			font-weight: 500;
			font-size: 20px;
			border-radius: 5px;

			&:hover {
				background-color: #ffb64f;
			}
		}

		.mobAuthorizedUser {
			.mobName {
				margin: 0 0 10px;
				color: #ffffff;
				text-align: center;
				font-weight: 400;
				font-size: 14px;
			}

			.mobAvatar {
				margin: 0 auto 10px;
				background-image: url(../../public/pickles.png);
				background-size: cover;
				background-position: center;
				background-repeat: no-repeat;
				border-radius: 50%;
				width: 60px;
				height: 60px;
			}

			.mobExitBtn {
				padding: 0;
				width: 250px;
				height: 40px;
				background-color: #7ce3e1;
				color: #000000;
				font-weight: 500;
				font-size: 20px;
				border-radius: 5px;

				&:hover {
					background-color: #ffb64f;
				}
			}
		}
	}
}

@media (max-width: 1200px) {
	.container {
		.limitAndAuthorized {
			.limit {
				top: 50px;
				right: 0;
			}
		}
	}
}

@media (max-width: 800px) {
	.container {
		.links {
			display: none;
		}

		.limitAndAuthorized {
			.authorizedUser {
				display: none;
			}

			.limit {
				top: -5px;
				right: 60px;
				width: 132px;
				height: 75px;

				.lineOne {
					font-size: 8px;
					margin: 5px 20px 2px 10px;

					span {
						font-size: 14px;
						font-weight: 700;
						color: #000000;
					}
				}

				.lineTwo {
					font-size: 8px;
					margin: 0 36px 0 10px;

					span {
						font-size: 14px;
						font-weight: 700;
						color: #8ac540;
					}
				}

				.loaderContainer {
					.loader {
						top: 23px;
						left: 53px;
					}
				}
			}

			.burgerBtn {
				display: block !important;
			}
		}

		.authorization {
			width: fit-content;

			.btnRegister,
			.stick,
			.btnAuthorize {
				display: none;
			}

			.burgerBtn {
				display: block !important;
			}
		}
	}
}

@media (max-width: 500px) {
	.container {
		padding: 0 34px 0 18px;

		.logo {
			width: 111px;
			height: 93px;
			background-image: url(../../public/smallLogoColored.png);
		}
	}
}
