.container {
	height: 93px;
	max-width: 1320px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;

	.logo {
		user-select: none;
	}

	.links {
		width: 236px;
		display: flex;
		justify-content: space-between;

		.link {
			text-decoration: none;
			color: #000000;
			font-size: 14px;
			font-family: 'inter';

			&:hover {
				color: #ffb64f;
			}
		}
	}

	.limitAndAuthorized {
		position: relative;
		display: flex;
		justify-content: space-between;
		align-items: center;

		.limit {
			position: absolute;
			// top: 0;
			right: 200px;
			width: 175px;
			height: 63px;
			background-color: #d9d9d9;
			border-radius: 5px;
			font-size: 10px;
			font-weight: 400;
			color: #00000083;

			.lineOne {
				margin: 14px 0 7px 10px;

				span {
					font-size: 14px;
					font-weight: 700;
					color: #000000;
				}
			}

			.lineTwo {
				margin: 0 0 0 27px;

				span {
					font-size: 14px;
					font-weight: 700;
					color: #8ac540;
				}
			}
			.loaderContainer {
				position: relative;

				.loader {
					position: absolute;
					top: 15px;
					left: 73px;
					color: #029491;
				}
			}
		}

		.authorizedUser {
			display: flex;

			.nameAndBtn {
				text-align: end;

				.name {
					margin: 0;
					font-weight: 400;
				}

				.exitBtn {
					justify-content: end;
					width: 31px;
					color: #0000007c;
					font-family: 'inter';
					font-size: 10px;
					font-weight: 400;
					padding: 0;

					&:hover {
						color: #ffb64f;
					}
				}
			}

			.avatar {
				margin-left: 5px;
				background-image: url(../../public/pickles.png);
				background-size: cover;
				background-position: center;
				background-repeat: no-repeat;
				border-radius: 50%;
				width: 32px;
				height: 32px;
			}
		}
	}

	.authorization {
		width: 251px;
		display: flex;
		justify-content: space-between;
		align-items: center;

		.btnRegister {
			font-size: 14px;
			color: #0000007a;
			font-family: 'inter';
			font-weight: 400;

			&:hover {
				color: #ffb64f;
			}
		}

		.stick {
			height: 26px;
			border: 1px solid #029491;
		}

		.btnAuthorize {
			cursor: pointer;
			width: 65px;
			height: 26px;
			font-size: 14px;
			background-color: #7ce3e1;
			border: none;
			border-radius: 5px;
			font-family: 'inter';
			font-weight: 500;
			color: #000000;

			&:hover {
				background-color: #ffb64f;
			}
		}
	}
}

.notification {
	color: #029491;
	font-weight: 600;
	font-size: 18px;
}
