.container {
	margin: 25px 0 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;

	.titleAndTxt {
		.title {
			margin: 44px 0 36px;
			font-family: 'Montserrat';
			font-size: 40px;
		}

		.underTitle {
			margin: 0;
			font-weight: 400;
			font-size: 20px;
		}
	}

	.imageGroup {
		margin-right: 15px;
		-webkit-user-select: none;
		   -moz-user-select: none;
		    -ms-user-select: none;
		        user-select: none;
	}
}

@media (max-width: 1200px) {
	.container {
		margin: 25px 60px 60px;
		gap: 21px;
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
	}
}

@media (max-width: 800px) {
	.container {
		.titleAndTxt {
			.title {
				margin: 0 0 21px;
				font-size: 28px;
			}

			.underTitle {
				font-size: 18px;
			}
		}

		.imageGroup {
			margin-right: 0;
		}
	}
}

@media (max-width: 600px) {
	.container {
		margin: 20px 12px 60px;

		.imageGroup {
			width: 350px;
			height: auto;
		}
	}
}