.container {
	margin: 24px auto 109px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;

	.title {
		margin: 45px 0 29px;
		font-size: 60px;
		font-family: 'Montserrat';
	}

	.txt {
		font-weight: 400;
		font-size: 20px;
		margin: 0;
	}

	.requestBtn {
		width: 335px;
		height: 59px;
		margin-top: 70px;
		background-color: #5970ff;
		color: #ffffff;
		font-size: 22px;
		border-radius: 5px;

		&:hover {
			background-color: #ffb64f;
		}
	}

	.image {
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
	}
}

.notification {
	color: #029491;
	font-weight: 600;
	font-size: 18px;
}

@media (max-width: 1400px) {
	.container {
		margin: 24px 60px 109px;
	}
}

@media (max-width: 1200px) {
	.container {
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
	}
}

@media (max-width: 800px) {
	.container {
		margin: 20px 14px 56px;

		.title {
			margin-top: 0;
			font-size: 28px;
		}

		.txt {
			font-size: 18px;
		}

		.requestBtn {
			margin: 31px 0 25px;
			font-size: 20px;
		}

		.image {
			width: 347px;
			height: auto;
		}
	}
}
