.container {
	position: relative;
	margin: 69px 81px 80px 0;
	display: flex;
	justify-content: space-between;

	.title {
		margin: 0;
		font-size: 40px;
		font-family: 'Montserrat';
		z-index: 2;
	}

	.image {
		position: absolute;
		left: 85px;
		bottom: 23px;
		user-select: none;
	}
}
