.container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-bottom: 64px;

	.imageGroup {
		user-select: none;
		margin-right: -50px;
	}

	.form {
		display: flex;
		justify-content: space-between;
		padding: 21px 35px 32px 44px;
		width: 872px;
		height: 543px;
		box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
		border-radius: 10px;

		.labelsAndInputs {
			display: flex;
			flex-direction: column;

			.inputTonality {
				width: 242px;
			}

			.label {
				position: relative;
				font-size: 18px;
				font-weight: 400;
				margin-bottom: 20px;

				.star {
					font-size: 25px;
				}

				.redStar {
					color: #ff5959;
				}

				.incorrectValue,
				.anotherIncorrectValue,
				.oneMoreIncrorrectValue {
					margin: 0;
					position: absolute;
					bottom: -81px;
					left: 19px;
					color: #ff5959;
					font-size: 14px;
				}

				.anotherIncorrectValue {
					left: 85px;
				}

				.oneMoreIncrorrectValue {
					left: 52px;
				}
			}

			.input {
				margin-bottom: 30px;
				width: 242px;
				height: 43px;
				padding: 13px 17px;
				border-radius: 5px;
				border: 1px solid #c7c7c7;

				&::placeholder {
					font-size: 14px;
					text-align: center;
					color: #949494;
				}

				&:focus {
					outline: none;
					border: 1px solid #029491;
				}
			}

			.incorrectInput {
				border: 1px solid #ff5959;
				box-shadow: 0 0 8px #ff59594d;

				&:focus {
					outline: none;
					border: 1px solid #ff5959;
				}
			}

			.chooseDate {
				width: 372px;
				display: flex;

				.customInput {
					position: relative;
					width: 176px;
					height: 43px;
					padding: 13px 17px;
					font-size: 14px;
					font-family: 'inter';
					font-weight: 400;
					border-radius: 5px;
					border: 1px solid #c7c7c7;
					cursor: pointer;
					z-index: 2;
					background-color: transparent;

					&::placeholder {
						font-size: 14px;
						text-align: center;
						color: #949494;
					}

					&:focus {
						outline: none;
						border: 1px solid #029491;
					}
				}

				.customLeftInput {
					margin-right: 20px;
				}

				.incorrectCustomInput {
					border: 1px solid #ff5959;
					box-shadow: 0 0 8px #ff59594d;

					&:focus {
						outline: none;
						border: 1px solid #ff5959;
					}
				}

				.firstrectangle {
					position: absolute;
					bottom: 15px;
					right: 29px;
					z-index: 1;
				}

				.secondRectangle {
					position: absolute;
					bottom: 15px;
					right: 8px;
					z-index: 1;
				}

				.rotateRectangle {
					rotate: 180deg;
					bottom: 15px;
				}

				.castomCalendar {
					font-family: 'inter';
					font-weight: 400;
					font-size: 12px;
				}
			}
		}

		.showMoreSettings {
			display: none;
		}

		.checkboxAndSubmit {
			padding-left: 20px;

			.btnContainer {
				margin: 119px 0 10px;
				text-align: end;

				.submitBtn {
					width: 305px;
					height: 59px;
					background-color: #5970ff;
					font-family: 'inter';
					font-weight: 500;
					font-size: 22px;
					border-radius: 5px;

					&:hover {
						background-color: #ffb64f;
					}

					&:disabled {
						background-color: #596fff7f;
						color: #ffffff;
					}
				}
			}

			.underBtn {
				color: #949494;
				margin: 0;
				text-align: end;
				font-size: 14px;
				font-weight: 400;
			}
		}
	}
}

.notification {
	color: #029491;
	font-weight: 600;
	font-size: 18px;
}

@media (max-width: 1450px) {
	.container {
		gap: 24px;
		justify-content: center;
		margin: 0 53px 64px;

		.imageGroup {
			margin: 0;
		}
	}
}

@media (max-width: 1000px) {
	.container {
		flex-direction: column;
		align-items: center;

		.form {
			width: 375px;
			height: auto;
			padding: 24px 26px 37px 14px;
			flex-wrap: wrap;
			justify-content: center;

			.labelsAndInputs {
				.inputTonality {
					width: 335px;
				}

				.label {
					.incorrectValue,
					.anotherIncorrectValue,
					.oneMoreIncrorrectValue {
						left: 68px;
					}

					.anotherIncorrectValue {
						top: 160px;
						left: 70px;
					}

					.oneMoreIncrorrectValue {
						left: 100px;
					}
				}

				.input {
					width: 335px;
				}

				.chooseDate {
					width: 335px;
					display: block;

					.customInput {
						width: 335px;
					}

					.customLeftInput {
						margin: 0 0 20px 0;
					}

					.firstrectangle,
					.secondRectangle {
						right: 12px;
					}

					.firstrectangle {
						bottom: 37px;
					}
				}
			}

			.showMoreSettings {
				display: none;
				background-color: #5970ff;
				border-radius: 5px;
				margin-top: 30px;
				color: #ffffff;
				font-weight: 400;

				&:hover {
					background-color: #ffb64f;
				}
			}

			.checkboxAndSubmit {
				width: 315px;
				margin-top: 20px;
				padding-left: 0;

				.btnContainer {
					margin: 40px 0 10px;
					text-align: end;

					.submitBtn {
						width: 335px;
						height: 59px;
						font-size: 20px;
					}
				}

				.underBtn {
					text-align: start;
				}
			}
		}
	}
}

@media (max-width: 600px) {
	.container {
		margin: 0 0 25px;
		flex-direction: column;
		align-items: center;

		.form {
			width: 100%;
			max-width: 375px;
			height: auto;
			padding: 24px 14px 37px 14px;
			flex-wrap: wrap;
			justify-content: center;

			.labelsAndInputs {
				.inputTonality {
					max-width: 335px;
				}

				.label {
					.incorrectValue,
					.anotherIncorrectValue,
					.oneMoreIncrorrectValue {
						left: 68px;
					}

					.anotherIncorrectValue {
						top: 160px;
						left: 70px;
					}

					.oneMoreIncrorrectValue {
						left: 100px;
					}
				}

				.input {
					max-width: 335px;
				}

				.chooseDate {
					max-width: 335px;
					display: block;

					.customInput {
						max-width: 335px;
					}

					.customLeftInput {
						margin: 0 0 20px 0;
					}

					.firstrectangle,
					.secondRectangle {
						right: 12px;
					}

					.firstrectangle {
						bottom: 37px;
					}
				}
			}

			.showMoreSettings {
				display: block;
				background-color: #5970ff;
				border-radius: 5px;
				margin-top: 30px;
				color: #ffffff;
				font-weight: 400;

				&:hover {
					background-color: #ffb64f;
				}
			}

			.checkboxAndSubmit {
				margin: 0;
				max-width: 335px;
				padding-left: 0;

				.checkboxeContainer {
					display: none;
				}

				.activeCheckboxeContainer {
					display: block;
				}

				.btnContainer {
					max-width: 335px;
					margin: 40px 0 10px;
					text-align: end;

					.submitBtn {
						max-width: 335px;
						height: 59px;
						font-size: 20px;
					}
				}
			}
		}

		.imageGroup {
			max-width: 100%;
			height: auto;
		}
	}
}
