.container {
	margin: 69px 0 47px;
	display: flex;
	justify-content: space-between;

	.titleAndImages {
		.title {
			position: relative;
			font-family: 'Montserrat';
			font-size: 40px;
			margin: 0 0 25px;
			z-index: 2;
		}

		.underTitle {
			position: relative;
			font-size: 20px;
			font-weight: 400;
			margin: 0;
			z-index: 2;
		}

		.document {
			position: absolute;
			top: 250px;
			right: 500px;
			user-select: none;
			z-index: 1;
		}

		.folders {
			position: absolute;
			top: 270px;
			right: 145px;
			user-select: none;
			z-index: 1;
		}
	}
}

@media (max-width: 1400px) {
	.container {
		margin: 69px 60px 64px;
	}
}

@media (max-width: 1000px) {
	.container {
		.titleAndImages {
			.document {
				top: 250px;
				right: 100px;
			}

			.folders {
				display: none;
			}
		}
	}
}

@media (max-width: 800px) {
	.container {
		margin: 20px 14px 21px;

		.titleAndImages {
			.document {
				width: 59px;
				height: auto;
				top: 200px;
				right: 35px;
			}

			.title {
				font-size: 28px;
				margin: 0 0 19px;
			}

			.underTitle {
				font-size: 18px;
				width: 300px;
			}
		}
	}
}
