.container {
	position: relative;
	margin-bottom: 70px;

	.subTitle {
		font-size: 45px;
		font-family: 'Montserrat';
		margin: 0 0 62px;
	}

	.carousel {
		margin: 0 15px;
		padding: 8px 30px;

		.slide {
			padding: 30px 20px 0 20px;
			height: 225px;
			border-radius: 10px;
			box-shadow: 0 0 8px rgba(0, 0, 0, 0.25);

			.sliderTxt {
				font-size: 14px;
				font-weight: 400;
			}

			.slideImage {
				user-select: none;
			}
		}
	}

	.customNext,
	.customNext2,
	.customNext3,
	.customPrev,
	.customPrev2,
	.customPrev3 {
		position: absolute;
		cursor: pointer;
		width: fit-content;
		z-index: 10;
		user-select: none;
	}

	.customPrev,
	.customPrev2,
	.customPrev3 {
		left: 0;
		bottom: 92px;
	}

	.customNext,
	.customNext2,
	.customNext3 {
		right: 0;
		bottom: 92px;
	}

	.customPrev3,
	.customNext3 {
		bottom: 77px;
	}
	.twoSlides,
	.oneSlide {
		display: none;
	}
}

@media (max-width: 1400px) {
	.container {
		margin: 0 47px 70px 47px;
	}
}

@media (max-width: 800px) {
	.container {
		margin: 0 14px 80px;

		.subTitle {
			width: 274px;
			font-size: 28px;
		}

		.threeSlides,
		.oneSlide {
			display: none;
		}

		.twoSlides {
			display: block;
		}
	}
}

@media (max-width: 600px) {
	.container {
		.threeSlides,
		.twoSlides {
			display: none;
		}

		.oneSlide {
			display: block;
		}

		.carousel {
			.slide {
				height: 188px;
				overflow: hidden;
				text-overflow: ellipsis;

				.slideImage {
					width: 58px;
					height: auto;
				}
			}
		}
	}
}
